[submodule "haskemathesis-reference"]
	path = haskemathesis-reference
	url = git@github.com:weyl-ai/haskemathesis.git
[submodule "libevring"]
	path = libevring
	url = git@github.com:straylight-software/libevring.git
