Port 22
PermitRootLogin yes
PasswordAuthentication yes
PubkeyAuthentication yes
PermitEmptyPasswords yes
ChallengeResponseAuthentication no
UsePAM no
PrintMotd no
X11Forwarding no
AcceptEnv LANG LC_*
Subsystem sftp @openssh@/libexec/sftp-server
PidFile /run/sshd.pid
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
